<a href="https://colab.research.google.com/github/seouseong/Database_SQL/blob/main/Database_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get update

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [ ]:
!apt-get install -y mysql-server

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
mysql-server is already the newest version (8.0.42-0ubuntu0.22.04.1).
0 upgraded, 0 newly installed, 0 to remove and 35 not upgraded.

In [ ]:
!service mysql start

 * Starting MySQL database server mysqld
   ...done.

In [ ]:
!sudo mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY ''; FLUSH PRIVILEGES;"

In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.11/dist-packages (9.3.0)

In [ ]:
import mysql.connector

# Connect to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)
cursor = conn.cursor()

# Create a database
cursor.execute("CREATE DATABASE IF NOT EXISTS testdb")
cursor.execute("USE testdb")

In [ ]:
# Drop the table if it already exists (for repeatable testing)
cursor.execute("DROP TABLE IF EXISTS Customer")

# Create the Customer table
create_table_query = """
CREATE TABLE Customer (
  CustomerID   VARCHAR(20) NOT NULL,
  CustimerName VARCHAR(10) NOT NULL,
  Age          INT,
  Grade        VARCHAR(10) NOT NULL,
  Job          VARCHAR(20),
  Points      INT DEFAULT 0,
  PRIMARY KEY (CustomerID)
);
"""

cursor.execute(create_table_query)
print("Customer table created.")

Customer table created.

In [ ]:
cursor.execute("DESCRIBE Customer")
columns = cursor.fetchall()

print("\nStructure of 'Customer Table:")
for column in columns:
  print(column)

Structure of 'Customer Table:
('CustomerID', 'varchar(20)', 'NO', 'PRI', None, '')
('CustimerName', 'varchar(10)', 'NO', '', None, '')
('Age', 'int', 'YES', '', None, '')
('Grade', 'varchar(10)', 'NO', '', None, '')
('Job', 'varchar(20)', 'YES', '', None, '')
('Points', 'int', 'YES', '', '0', '')

In [ ]:
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

print("\nList of tables:")
for table in tables:
  print(table[0])

InternalError: Unread result found

In [ ]:
cursor.execute("DESCRIBE Product")
columns = cursor.fetchall()

print("\nStructure of 'Product' Table:")
for column in columns:
  print(column)

InternalError: Unread result found

In [ ]:
insert_query="""
INSERT INTO Customer (CustomerID, CustomerName, Age, Grade, Job, Points)
VALUES (%s, %s, %s, %s, %s, %s);
"""

values=[
    ('C006', 'KIM', 22, 'Silver', 'Artist', 1500),
    ('C007', 'Park', 50, 'VIP', 'Artist', 7000),
    ('C008', 'Yoon', 60, 'VIP', 'Artist', 10000)
]